AWS_REGION=us-east-1
USER_ACCOUNT_TOPIC_ARN=arn:aws:sns:your-region:your-account-id:your-topic-name
TRANSACTION_TOPIC_ARN=arn:aws:sns:your-region:your-account-id:your-topic-name
FLASK_SECRET_KEY=your-secret-key-here
